* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.page-container {
	min-height: 100vh;
}

#navigation-bar {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
}

/* .logo {
  width: 250px;
  padding: 10px;
} */

.logo {
	width: 175px;
	padding: 10px;
}

#nav-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-right: 10px;
}

.nav-link {
	color: black;
	font-weight: 600;
	font-size: 24px;
}

.nav-link:hover {
	color: #d0a1a1;
}

.nav-icon {
	color: black;
}

.nav-icon:hover {
	color: #d0a1a1;
}

.sign-up-button {
	color: white;
	background-color: #d0a1a1;
	border-radius: 25px;
	font-weight: 600;
	font-size: 24px;
	text-decoration: none;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	margin: 5px;
	transition: all 0.2s;
}

.sign-up-button:hover {
	color: black;
	background-color: #d0a1a1;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#explore-button {
	background-color: black;
}

#explore-button:hover {
	background-color: #957dad;
	color: white;
}

.search-icon {
	color: white;
	fill: white;
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 90vh;
}

.body-item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	width: calc(600 + 30vw);
}

.body-item-2 {
	display: flex;
	justify-content: flex-end;
	width: 60vw;
}

.body-text {
	font-size: 24px;
	font-weight: 600;
	color: #d0a1a1;
}

.header {
	width: 30vw;
	font-weight: 600;
	font-size: 62px;
}

.paragraph {
	width: 30vw;
	font-size: 18px;
}

.purple {
	color: #957dad;
}

.index-picture {
	width: 800px;
}

.index-picture-2 {
	position: absolute;
	width: 800px;
	z-index: -1;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0, -50%);
}

.notification-container {
	margin-left: 16px;
	margin-right: 16px;
	position: relative;
}

.red-dot {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 100%;
	background-color: red;
	width: 8px;
	height: 8px;
}

@media only screen and (max-width: 480px) {
	.header {
		font-weight: 600;
		font-size: 36px !important;
	}

	.paragraph {
		font-size: 14px;
		display: none;
	}

	.index-picture {
		display: none;
	}

	.sign-up-button {
		font-size: 12px;
		padding: 6px;
	}

	.logo {
		width: 100px;
		padding: 5px;
		padding-top: 0;
	}

	.nav-name {
		font-size: 12px;
	}
}

@media only screen and (max-width: 700px) {
	.header {
		font-weight: 600;
		font-size: 50px !important;
		text-align: center;
	}

	.body-item-2 {
		justify-content: center;
	}

	.index-picture {
		display: none;
	}
	.body-text {
		width: 90vw;
	}

	.body-item {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: left;
		width: 90vw;
	}

	.nav-link {
		display: none;
	}

	.nav-icon {
		margin-left: 8px;
		margin-right: 8px;
		position: relative;
	}

	.notification-container {
		margin-left: 0px;
		margin-right: 0px;
		position: relative;
	}

	.logo {
		width: 150px;
		padding: 10px;
		padding-top: 0;
	}

	.sign-up-button {
		font-size: 16px;
	}
}

@media only screen and (max-width: 730px) {
	.sign-up-button {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1200px) {
	.index-picture {
		width: 500px;
	}

	.logo {
		width: 150px;
	}

	.sign-up-button {
		font-size: 16px;
	}

	.nav-name {
		font-size: 16px;
	}
}

.nav-icon {
	color: black;
}

.nav-icon:hover {
	color: #d0a1a1;
}

.nav-name {
	color: black;
	font-weight: 600;
	font-size: 24px;
	padding: 16px;
	text-decoration: none;
}

.nav-name:hover {
	color: #d0a1a1;
}
