#explore-button {
	background-color: black;
}

#explore-button:hover {
	background-color: #957dad;
	color: white;
}

.search-icon {
	color: white;
	fill: white;
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	width: 100vw;
}

.body-item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	flex-direction: column;
	width: 50vw;
	z-index: 1;
	/* width: calc(600 + 30vw); */

}

/* .body-item-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0, -50%);
	width: 30vw;
} */

.index-picture-2 {
	position: absolute;
	width: 500px;
	z-index: 0;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0, -50%);
	opacity: 0.5;
}

.body-text {
	font-size: 24px;
	font-weight: 600;
	color: #d0a1a1;
}

.header {
	/* width: 30vw; */
	font-weight: 600;
	font-size: 68px;
	font-family: PlayFairDisplay;
}

.paragraph {
	font-size: 20px;
	font-family: Nunito;
}

.purple {
	color: #957dad;
}

.index-picture {
	width: 700px;
}

.sigh {
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 40px 0px 40px;
}

/* .index-picture-2 {
	position: absolute;
	width: 1000px;
	z-index: 0;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0, -50%);
} */

.button {
	font-family: Nunito;
	color: white;
	background-color: black;
	border-radius: 30px;
	font-weight: 600;
	font-size: 24px;
	text-decoration: none;
	padding: 12px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	margin: 0px 0px 0px 40px;
	transition: all 0.2s;
	box-shadow: -1px -1px 20px rgba(0, 0, 0, 0.25);
	align-self: flex-start;	
}

.button:hover {
	color: white;
	background-color: #d0a1a1;
}

@media only screen and (max-width: 1000px) {
	.body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 90vh;
		flex-direction: column;
	}

	.body-item {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 0px;
	}

	.index-picture {
		display: flex;
		justify-content: center;
		width: 70vw;
	}

	.header {
		font-weight: 600;
		font-size: 35px !important;
		text-align: center;
		width: 90vw;
	}

	.paragraph {
		font-size: 16px;
		width: 90vw;
		text-align: center;
	}

	/* .index-picture {
		display: none;
	} */

	.button {
		align-self: center;
		margin: 0px 0px 0px 0px;
	}

	.index-picture {
		width: 90vw;
	}
	.index-picture-2 {
		width: 50vw;
	}

	.sigh {
		width: 90vw;
		padding: 0px 0px 0px 0px;
	}
}

/* @media only screen and (max-width: 700px) {
	.header {
		font-weight: 600;
		font-size: 50px !important;
		text-align: center;
	}

	.body-item-2 {
		justify-content: center;
	}

	.index-picture {
		display: none;
	}
	.body-text {
		width: 90vw;
	}

	.body-item {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: left;
		width: 90vw;
	}

	.nav-link {
		display: none;
	}

	.nav-icon {
		margin-left: 8px;
		margin-right: 8px;
		position: relative;
	}

	.notification-container {
		margin-left: 0px;
		margin-right: 0px;
		position: relative;
	}

	.logo {
		width: 150px;
		padding: 10px;
		padding-top: 0;
	}

	.sign-up-button {
		font-size: 16px;
	}
}

@media only screen and (max-width: 730px) {
	.sign-up-button {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1200px) {
	.index-picture {
		width: 500px;
	}

	.logo {
		width: 150px;
	}

	.sign-up-button {
		font-size: 16px;
	}

	.nav-name {
		font-size: 16px;
	}
}

.nav-icon {
	color: black;
}

.nav-icon:hover {
	color: #d0a1a1;
}

.nav-name {
	color: black;
	font-weight: 600;
	font-size: 24px;
	padding: 16px;
	text-decoration: none;
}

.nav-name:hover {
	color: #d0a1a1;
} */
